header {
  width: 1800px;
  color: var(--primary-color);
  height: 150px;
  background: rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 10px;
  backdrop-filter: blur(15px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 80px;
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  transition: all 0.4s ease;
}

/* Logo */
header img {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  object-fit: cover;
}

/* Menu */
.header-menu {
  display: flex;
  align-items: center;
  gap: 50px;
}

.header-menu a {
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  transition: color 0.3s ease;
}

.header-menu a:hover {
  color: var(--white-color);
}


/* Ícone (pode representar redes, menu, etc.) */
.whats-btn i {
  font-size: 2rem;
  align-items: center;
  justify-content: center;
  transition: color 0.3s ease;
}

.whats-btn i:hover {
  color: var(--white-color);
  cursor: pointer;
}


/* ===== Efeito ao rolar a página ===== */
.header.scrolled {
  width: 100%;
  top: 0;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(5px);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}
