.services {
  width: 100%;
  height: 100vh;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* top: 100px; */
  gap: 20px;
  background: #f5f5f5;
}

.services h2 {
  margin-top: 100px;
  color: #025768;
  font-size: 48px;
  font-weight: 500;
  text-align: center;
}

.services-carousel {
  display: flex;
  width: 1850px;
  align-items: center;
  gap: 20px;
}

.services-list {
  display: flex;
  gap: 40px;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 20px;
}

.services-list::-webkit-scrollbar {
  display: none;
}

.service-card {
  min-width: 400px;
  height: 620px;
  background: #b7b7b7;
  color: white;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.service-card h3 {
  font-size: 32px;
  font-weight: 600;
  text-align: center;
}

.service-img {
  width: 350px;
  height: 310px;
  background: #d9d9d9;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.service-card p {
  font-size: 22px;
  font-weight: 400;
  text-align: center;
  line-height: 30px;
}

/* Botões de navegação */
.arrow {
  width: 70px;
  height: 70px;
  border-radius: 10px;
  border: none;
  background: white;
  color: black;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.arrow:hover {
  background: #02b0d3;
  color: white;
}

/* Botão final */
.services-call {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  background: #025768;
  border-radius: 20px;
  padding: 20px 40px;
}

.services-call span {
  color: white;
  font-size: 32px;
  font-weight: 600;
}

.whatsapp-icon {
  width: 60px;
  height: 60px;
  background: white;
  border-radius: 10px;
}
