/* ====== RESET CSS ====== */

/* assets/css/style.css */

/* Reset global */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import url('./header.css');
@import url('./home.css');
@import url('./services.css');

:root {
  --primary-color: #025768;
  --white-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Remove sublinhado e estilo padrão de links */
a {
  text-decoration: none;
  color: inherit;
}

/* Remove bullet points e espaçamento de listas */
ul,
ol {
  list-style: none;
}

/* Zera bordas e fontes padrão */
button,
input,
textarea,
select {
  border: none;
  outline: none;
  font-family: inherit;
}

/* Corpo da página */
body {
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
  overflow-x: hidden;
}

/* Melhora renderização de fontes */
html {
  scroll-behavior: smooth;
}

